In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Reads each of the raw data files, drops any rows with missing values, duplicates, or rows that are not from JFK, and saves the cleaned data to a new file in the clean directory
for yy in range(10,19):
    for mm in range(1,13):
        if yy == 18 and mm == 8:
            break
        if mm < 10:
            mm = f'0{mm}'

        df = pd.read_csv(f'data/raw/JFK_{mm}_{yy}.csv', sep=',')
        df = df.dropna()
        df = df.drop_duplicates()
        df = df.drop(df[df['ORIGIN'] != 'JFK'].index)
        df.to_csv(f'data/clean/JFK_{mm}_{yy}.csv', index=False)

In [3]:
# Concatenates all of the cleaned data files into one large dataset
full_df = pd.DataFrame()

for yy in range(10,19):
    for mm in range(1,13):
        if yy == 18 and mm == 8:
            break
        if mm < 10:
            mm = f'0{mm}'

        df = pd.read_csv(f'data/clean/JFK_{mm}_{yy}.csv', sep=',')
        full_df = pd.concat([full_df, df])
        full_df.to_csv('data/clean/full.csv', index=False)

In [62]:
full_df = pd.read_csv('data/clean/full.csv', sep=',')
full_df

,FL_DATE,ORIGIN,DEST,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,CANCELLED
0,01/03/2010 00:00,JFK,BTV,106.0,146.0,146.0,1.0,1.0
1,01/10/2010 00:00,JFK,MCO,1037.0,66.0,66.0,1.0,1.0
2,1/22/2010 12:00:00 AM,JFK,SAN,1925.0,-5.0,0.0,0.0,1.0
3,1/26/2010 12:00:00 AM,JFK,MIA,1459.0,-6.0,0.0,0.0,1.0
4,1/29/2010 12:00:00 AM,JFK,SFO,815.0,75.0,75.0,1.0,1.0
...,...,...,...,...,...,...,...,...
863962,7/31/2018 12:00:00 AM,JFK,TPA,1053.0,-7.0,0.0,0.0,0.0
863963,7/31/2018 12:00:00 AM,JFK,TPA,1340.0,10.0,10.0,0.0,0.0
863964,7/31/2018 12:00:00 AM,JFK,TPA,1525.0,-5.0,0.0,0.0,0.0
863965,7/31/2018 12:00:00 AM,JFK,TPA,1954.0,29.0,29.0,1.0,0.0
863966,7/31/2018 12:00:00 AM,JFK,TPA,2037.0,87.0,87.0,1.0,0.0

In [5]:
weather_df = pd.read_csv('data/JFK_weather_10_18/jfk_weather_cleaned.csv', sep=',')
weather_df

,DATE,HOURLYVISIBILITY,HOURLYDRYBULBTEMPF,HOURLYWETBULBTEMPF,HOURLYDewPointTempF,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYStationPressure,HOURLYSeaLevelPressure,HOURLYPrecip,HOURLYAltimeterSetting,HOURLYWindDirectionSin,HOURLYWindDirectionCos,HOURLYPressureTendencyIncr,HOURLYPressureTendencyDecr,HOURLYPressureTendencyCons
0,2010-01-01 01:00:00,6.0,33.0,32.0,31.0,92.0,0.0,29.97,29.99,0.01,29.99,0.000000,1.000000,0,1,0
1,2010-01-01 02:00:00,6.0,33.0,33.0,32.0,96.0,0.0,29.97,29.99,0.02,29.99,0.000000,1.000000,0,1,0
2,2010-01-01 03:00:00,5.0,33.0,33.0,32.0,96.0,0.0,29.97,29.99,0.00,29.99,0.000000,1.000000,0,1,0
3,2010-01-01 04:00:00,5.0,33.0,33.0,32.0,96.0,0.0,29.95,29.97,0.00,29.97,0.000000,1.000000,0,1,0
4,2010-01-01 05:00:00,5.0,33.0,32.0,31.0,92.0,0.0,29.93,29.96,0.00,29.95,0.000000,1.000000,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75114,2018-07-27 19:00:00,10.0,76.0,73.0,72.0,88.0,3.0,30.00,30.02,0.00,30.02,-0.766044,-0.642788,1,0,0
75115,2018-07-27 20:00:00,4.0,69.0,69.0,69.0,100.0,13.0,29.99,30.01,1.16,30.01,0.642788,0.766044,1,0,0
75116,2018-07-27 21:00:00,10.0,71.0,70.0,70.0,96.0,0.0,30.02,30.04,0.01,30.04,0.000000,1.000000,1,0,0
75117,2018-07-27 22:00:00,10.0,72.0,71.0,70.0,94.0,5.0,30.00,30.02,0.00,30.02,0.766044,0.642788,1,0,0
75118,2018-07-27 23:00:00,10.0,72.0,71.0,71.0,97.0,0.0,30.01,30.03,0.00,30.03,0.000000,1.000000,1,0,0

In [63]:
# reformatting departure times to date times
full_df['DEP_TIME'] = full_df['DEP_TIME'].apply(lambda x: f"{int(x):04d}")
full_df['DEP_TIME'] = full_df['DEP_TIME'].apply(lambda x: f"{x[:2]}:{x[2:]}:00")
full_df

,FL_DATE,ORIGIN,DEST,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,CANCELLED
0,01/03/2010 00:00,JFK,BTV,01:06:00,146.0,146.0,1.0,1.0
1,01/10/2010 00:00,JFK,MCO,10:37:00,66.0,66.0,1.0,1.0
2,1/22/2010 12:00:00 AM,JFK,SAN,19:25:00,-5.0,0.0,0.0,1.0
3,1/26/2010 12:00:00 AM,JFK,MIA,14:59:00,-6.0,0.0,0.0,1.0
4,1/29/2010 12:00:00 AM,JFK,SFO,08:15:00,75.0,75.0,1.0,1.0
...,...,...,...,...,...,...,...,...
863962,7/31/2018 12:00:00 AM,JFK,TPA,10:53:00,-7.0,0.0,0.0,0.0
863963,7/31/2018 12:00:00 AM,JFK,TPA,13:40:00,10.0,10.0,0.0,0.0
863964,7/31/2018 12:00:00 AM,JFK,TPA,15:25:00,-5.0,0.0,0.0,0.0
863965,7/31/2018 12:00:00 AM,JFK,TPA,19:54:00,29.0,29.0,1.0,0.0
863966,7/31/2018 12:00:00 AM,JFK,TPA,20:37:00,87.0,87.0,1.0,0.0

In [64]:
# reformatting FL_DATE to correct date-time format
# remove AM/PM
full_df['FL_DATE'] = full_df['FL_DATE'].str.replace(r'AM|PM', '', regex=True)

# convert to date time
full_df['FL_DATE'] = pd.to_datetime(full_df['FL_DATE'], format='mixed')
full_df

,FL_DATE,ORIGIN,DEST,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,CANCELLED
0,01/03/2010 00:00,JFK,BTV,01:06:00,146.0,146.0,1.0,1.0
1,01/10/2010 00:00,JFK,MCO,10:37:00,66.0,66.0,1.0,1.0
2,1/22/2010 12:00:00,JFK,SAN,19:25:00,-5.0,0.0,0.0,1.0
3,1/26/2010 12:00:00,JFK,MIA,14:59:00,-6.0,0.0,0.0,1.0
4,1/29/2010 12:00:00,JFK,SFO,08:15:00,75.0,75.0,1.0,1.0
...,...,...,...,...,...,...,...,...
863962,7/31/2018 12:00:00,JFK,TPA,10:53:00,-7.0,0.0,0.0,0.0
863963,7/31/2018 12:00:00,JFK,TPA,13:40:00,10.0,10.0,0.0,0.0
863964,7/31/2018 12:00:00,JFK,TPA,15:25:00,-5.0,0.0,0.0,0.0
863965,7/31/2018 12:00:00,JFK,TPA,19:54:00,29.0,29.0,1.0,0.0
863966,7/31/2018 12:00:00,JFK,TPA,20:37:00,87.0,87.0,1.0,0.0

In [86]:
# merge weather and flight data

full_df['FL_DATE'] = pd.to_datetime(full_df['FL_DATE'])
weather_df['DATE'] = pd.to_datetime(weather_df['DATE'])


full_df['FL_DATE_HOUR'] = full_df['FL_DATE'].dt.floor('H')

# Regular merge on the exact hour
merged_df = pd.merge(
    full_df,
    weather_df,
    left_on='FL_DATE_HOUR',
    right_on='DATE',
    how='left'  # this keeps only the flights data
)

merged_df

C:\Users\mhair\AppData\Local\Temp\ipykernel_109000\2309307764.py:7: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_df['FL_DATE_HOUR'] = full_df['FL_DATE'].dt.floor('H')

,FL_DATE,ORIGIN,DEST,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,CANCELLED,FL_DATE_HOUR,DATE,...,HOURLYWindSpeed,HOURLYStationPressure,HOURLYSeaLevelPressure,HOURLYPrecip,HOURLYAltimeterSetting,HOURLYWindDirectionSin,HOURLYWindDirectionCos,HOURLYPressureTendencyIncr,HOURLYPressureTendencyDecr,HOURLYPressureTendencyCons
0,2010-01-03 00:00:00,JFK,BTV,01:06:00,146.0,146.0,1.0,1.0,2010-01-03 00:00:00,2010-01-03 00:00:00,...,29.0,29.62,29.64,0.0,29.64,-0.866025,5.000000e-01,0.0,1.0,0.0
1,2010-01-10 00:00:00,JFK,MCO,10:37:00,66.0,66.0,1.0,1.0,2010-01-10 00:00:00,2010-01-10 00:00:00,...,10.0,30.18,30.20,0.0,30.20,-0.342020,9.396930e-01,1.0,0.0,0.0
2,2010-01-22 12:00:00,JFK,SAN,19:25:00,-5.0,0.0,0.0,1.0,2010-01-22 12:00:00,2010-01-22 12:00:00,...,16.0,29.88,29.91,0.0,29.90,0.642788,7.660440e-01,0.0,1.0,0.0
3,2010-01-26 12:00:00,JFK,MIA,14:59:00,-6.0,0.0,0.0,1.0,2010-01-26 12:00:00,2010-01-26 12:00:00,...,21.0,29.66,29.68,0.0,29.68,-1.000000,-1.836970e-16,1.0,0.0,0.0
4,2010-01-29 12:00:00,JFK,SFO,08:15:00,75.0,75.0,1.0,1.0,2010-01-29 12:00:00,2010-01-29 12:00:00,...,18.0,30.24,30.27,0.0,30.26,-0.866025,5.000000e-01,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863962,2018-07-31 12:00:00,JFK,TPA,10:53:00,-7.0,0.0,0.0,0.0,2018-07-31 12:00:00,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863963,2018-07-31 12:00:00,JFK,TPA,13:40:00,10.0,10.0,0.0,0.0,2018-07-31 12:00:00,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863964,2018-07-31 12:00:00,JFK,TPA,15:25:00,-5.0,0.0,0.0,0.0,2018-07-31 12:00:00,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863965,2018-07-31 12:00:00,JFK,TPA,19:54:00,29.0,29.0,1.0,0.0,2018-07-31 12:00:00,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863966,2018-07-31 12:00:00,JFK,TPA,20:37:00,87.0,87.0,1.0,0.0,2018-07-31 12:00:00,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# drop extra date columns and move date-hour to lhs
merged_df.drop(columns=['FL_DATE', 'DATE'], inplace=True)
merged_df.insert(0, 'FL_DATE_HOUR', merged_df.pop('FL_DATE_HOUR'))
merged_df

,FL_DATE_HOUR,ORIGIN,DEST,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,CANCELLED,HOURLYVISIBILITY,HOURLYDRYBULBTEMPF,...,HOURLYWindSpeed,HOURLYStationPressure,HOURLYSeaLevelPressure,HOURLYPrecip,HOURLYAltimeterSetting,HOURLYWindDirectionSin,HOURLYWindDirectionCos,HOURLYPressureTendencyIncr,HOURLYPressureTendencyDecr,HOURLYPressureTendencyCons
0,2010-01-03 00:00:00,JFK,BTV,01:06:00,146.0,146.0,1.0,1.0,10.0,18.0,...,29.0,29.62,29.64,0.0,29.64,-0.866025,5.000000e-01,0.0,1.0,0.0
1,2010-01-10 00:00:00,JFK,MCO,10:37:00,66.0,66.0,1.0,1.0,10.0,19.0,...,10.0,30.18,30.20,0.0,30.20,-0.342020,9.396930e-01,1.0,0.0,0.0
2,2010-01-22 12:00:00,JFK,SAN,19:25:00,-5.0,0.0,0.0,1.0,10.0,42.0,...,16.0,29.88,29.91,0.0,29.90,0.642788,7.660440e-01,0.0,1.0,0.0
3,2010-01-26 12:00:00,JFK,MIA,14:59:00,-6.0,0.0,0.0,1.0,10.0,42.0,...,21.0,29.66,29.68,0.0,29.68,-1.000000,-1.836970e-16,1.0,0.0,0.0
4,2010-01-29 12:00:00,JFK,SFO,08:15:00,75.0,75.0,1.0,1.0,10.0,21.0,...,18.0,30.24,30.27,0.0,30.26,-0.866025,5.000000e-01,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863962,2018-07-31 12:00:00,JFK,TPA,10:53:00,-7.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863963,2018-07-31 12:00:00,JFK,TPA,13:40:00,10.0,10.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863964,2018-07-31 12:00:00,JFK,TPA,15:25:00,-5.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863965,2018-07-31 12:00:00,JFK,TPA,19:54:00,29.0,29.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863966,2018-07-31 12:00:00,JFK,TPA,20:37:00,87.0,87.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## TODO 

- Reformat departure times to datetimens and do the same for FL_DATE (will also need to round to the nearest hour)
- Separate date and time within the weather dataset then do the same reformatting to datetimens
- Figure out how to add the weather data to each flight with a matching time